AGENTE_RAG.json
{
  "name": "AGENTE_RAG",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "279dff84-1655-40e0-ba63-bd6f466a1fac",
      "name": "When chat message received",
      "webhookId": "536d044d-24dc-4a37-bcc5-eead9ed90644"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Rol\nEres el asistente virtual de la fábrica \"Zapatos N8N\".\n\n# Tareas\n- Responde de forma directa al mensaje: {{ $json.chatInput }}\n- Usa ÚNICAMENTE la herramienta zapaterian8n para datos de MOQ, tiempos y pagos.\n- SOLO si el usuario te saluda (ej: \"Hola\", \"Buenos días\"), responde con una bienvenida breve. Si el usuario hace una pregunta directa, ve al grano sin presentarte.\n\n# Notas\n- No repitas tu nombre en cada respuesta si ya saludaste antes.\n- Respuestas claras y concisas. Máximo 375 caracteres.\n- Si no sabes algo, remite al +58 496 2369.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "3f2917f9-49d0-42a2-96d5-f97a2dd4f4a4",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "3a848c39-11a8-4ec1-a45a-aea6d19028bc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "zapateria-index2",
          "mode": "list",
          "cachedResultName": "zapateria-index2"
        },
        "options": {
          "pineconeNamespace": "namespacezapateria"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        400,
        352
      ],
      "id": "7b8dd4c5-b298-41d4-82a8-1fb1185fc369",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "88oDamao1DcbqFQV",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        512
      ],
      "id": "a48c2bf4-46b2-4c71-93c1-27d2322b2e82",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "OrDK2zJJbuu8xPHV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        928,
        384
      ],
      "id": "1936cc4f-036a-407f-9ace-9fa8d371d687",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "vxxrLrOiijkgXejf",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "description": "Esta herramienta va a dar información sobre las políticas de servicio de la fábrica de calzado “ZAPATOS N8N”"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        576,
        176
      ],
      "id": "fd009ef2-4775-47fa-99c8-5895a0ae7bdc",
      "name": "zapaterian8n"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -64,
        288
      ],
      "id": "ece2f266-8438-4677-be3b-9a59b6659e6f",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "vxxrLrOiijkgXejf",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "zapaterian8n",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "zapaterian8n",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "zapaterian8n": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3f3767b5-ac58-4935-a14e-f7f55a10c8a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0082b9de5e9eaeedc54b820b850addc91401fff175b993fe2c8109abec65f571"
  },
  "id": "pNYLivIx8Nu5IIYy",
  "tags": []
}