RAG_Inputs.json
{
  "name": "RAG_Inputs",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1mN2BPo8g13HEtczGnzZ9siNIdexftNjs",
          "mode": "list",
          "cachedResultName": "Practicas n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1mN2BPo8g13HEtczGnzZ9siNIdexftNjs"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6f8cf0c1-a5f8-45ec-b9d4-918fe19f04be",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "71OePymaSEFgjnLX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "zapateria-index2",
          "mode": "list",
          "cachedResultName": "zapateria-index2"
        },
        "options": {
          "pineconeNamespace": "namespacezapateria"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "424c90e7-6ed2-4634-9916-eb882bf0d645",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "88oDamao1DcbqFQV",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.webViewLink }}",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "4254e303-36cc-4e2a-8881-5c999e972c0d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "71OePymaSEFgjnLX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "data",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "919c23bd-dbaa-4a9b-8054-5c4e84fd794f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        544,
        448
      ],
      "id": "f35f2226-1fc3-45ba-99b0-0c6f167eca57",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        208
      ],
      "id": "8926efa3-b8fc-428c-a265-94093e3e855c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "OrDK2zJJbuu8xPHV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c8c010c0-be7d-4f70-a3cc-9e876c159fce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0082b9de5e9eaeedc54b820b850addc91401fff175b993fe2c8109abec65f571"
  },
  "id": "W6i2AgbvLqzf8Ztg",
  "tags": []
}